.contacts-wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.contacts__item{
	max-width: 253px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts__item a,
.contacts__item p{
	min-width: 215px;
}

.contacts__img{
	margin-right: 20px;
	max-width: 19px;
}