.gallery__slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 858px;
}

.gallery__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery__slide img {
    margin-bottom: 20px;
    width: 280px;
    height: 300px;
}