.reviews {
	padding: 0 50px;
}
.reviews__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.reviews__item {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	min-height: 177px;
	/* align-items: flex-start; */
}
.reviews__item.reviews__item-active {
	max-width: 681px;
	margin: 0 45px;
	/* align-items: flex-end; */
}
.reviews__author-photo {
	margin-right: 31px;
}

.reviews__author-info {
	/* max-width: 329px; */
}

.reviews__author-name {
	font-size: 24px;
	line-height: 29px;
	color: #374957;
	margin-bottom: 16px;
}
