.content {
	width: 100%;
}

.main {
	display: flex;
	justify-content: space-between;
	padding-top: 177px;
	background: radial-gradient(72.58% 488.59% at 73.05% 68.11%, #7ad0d9 0%, #1eacbb 100%);
	height: 100%;
	position: relative;
	width: 100%;
	height: 100vh;
}

.main__box-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main__box-left {
	max-width: 690px;
	color: #fff;
}

.page__title {
	font-size: 54px;
	line-height: 1.2em;
	margin-bottom: 38px;
}

.page__text {
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 47px;
}

.btn-order {
	margin-bottom: 65px;
	display: inline-block;
}

.main__benefits {
	display: flex;
	justify-content: space-between;
}

.benefits__item {
	max-height: 44px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.benefits__img {
	margin-right: 24px;
	object-fit: fill;
}

.benefits__text {
	display: inline-block;
}

.main__box-right {
	width: 100%;
}
.main__slider{
	
	width: 590px;
	height: 590px;
	padding: 0 100px 70px;
}
.main__slider-inner{
	/* width: 590px; */
	height: 590px;
}

.main__slider-img{

}