.content {
	width: 100%;
<<<<<<< HEAD
}

.main {
=======
}

.container__main {
	width: 1442px;
}

.main {
	display: flex;
	justify-content: space-between;
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
	padding-top: 177px;
	background: radial-gradient(72.58% 488.59% at 73.05% 68.11%, #7ad0d9 0%, #1eacbb 100%);
	height: 100%;
	position: relative;
	width: 100%;
<<<<<<< HEAD
	height: 100vh;
=======
	padding-bottom: 40px;
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
}

.main__box-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main__box-left {
<<<<<<< HEAD
	max-width: 690px;
	color: #fff;
=======
	max-width: 814px;
	color: #fff;
	padding-left: 132px;
	width: 100%;
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
}

.page__title {
	font-size: 54px;
<<<<<<< HEAD
	line-height: 1.2em;
=======
	line-height: 66px;
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
	margin-bottom: 38px;
}

.page__text {
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 47px;
}

.btn-order {
	margin-bottom: 65px;
	display: inline-block;
}

.main__benefits {
	display: flex;
	justify-content: space-between;
<<<<<<< HEAD
	width: 100%;
=======
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
}

.benefits__item {
	max-height: 44px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
<<<<<<< HEAD
=======
	margin-right: 78px;
}
.benefits__item:last-child {
	margin-right: 0;
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
}

.benefits__img {
	margin-right: 24px;
	object-fit: fill;
}

.benefits__text {
	display: inline-block;
}

.main__box-right {
<<<<<<< HEAD
	width: 100%;
}
.mySwiper {
	width: 590px;
	height: 590px;
	position: relative;
}

.mySwiper::before,
.mySwiper::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.mySwiper::after {
	background-image: url(../images/fragments/Ellipse-3.svg);
}
.mySwiper::before {
	background-image: url(../images/fragments/Ellipse-2.svg);
}
/* .swiper-wrapper::after,
.swiper-wrapper::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 80px center;
}
.swiper-wrapper::after {
	background-image: url(../images/fragments/Ellipse-3.svg);
}
.swiper-wrapper::before {
	background-image: url(../images/fragments/Ellipse-2.svg);
} */
.swiper-slide img {
	width: 380px;
	height: 520px;
=======
	margin-top: -69px;
>>>>>>> eefb5f3ddce2b0d6549c9cd82486f968868095b5
}
