.content {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 177px;
    background: radial-gradient(72.58% 488.59% at 73.05% 68.11%, #7ad0d9 0%, #1eacbb 100%);
    min-height: 740px;
    position: relative;
    width: 100%;
}

.main__box-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main__box-left {
    max-width: 49%;
    color: #fff;
    letter-spacing: 0.6px;
}

.page__title {
    font-size: 54px;
    line-height: 66px;
    margin-bottom: 38px;
}

.page__text {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 47px;
}

.btn-order {
    margin-bottom: 65px;
    display: inline-block;
}

.main__benefits {
    display: flex;
    justify-content: space-between;
    min-width: 690px;
}

.benefits__item {
    max-height: 44px;
    /* width: 160px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 78px;
    letter-spacing: 0.04em;
    font-size: 14px;
    line-height: 17px;
}

.benefits__item:last-child {
    margin-right: 0;
}

.benefits__img {
    margin-right: 24px;
    object-fit: fill;
}

.benefits__text {
    display: inline-block;
}

.main__box-right {
    max-width: 50%;
    position: relative;
}

.main__slider {
    position: absolute;
    top: -70px;
    left: -453px;
    width: 590px;
    height: 590px;
}

@media (max-width: 1470px) {
    .main__box-right {
        width: 300px;
        height: 300px;
    }
}

.main__slider-img {
    background-color: transparent;
    padding: 1px 101px 69px 109px;
}

.main__slider::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background-size: cover;
    background-image: url("../images/group_ellipse.svg");
}

.main__slider::before {
    position: absolute;
    top: 114px;
    left: 38px;
    right: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background-image: url("../images/slider-clouds.svg");
    z-index: 1;
    background-repeat: no-repeat;
}

.main__slider-button-next,
.main__slider-button-prev {
    position: relative;
}

.main__slider-button-next::after,
.main__slider-button-prev::after {
    position: absolute;
    content: "";
    width: 44px;
    height: 44px;
    top: -66px;
    background-image: url("../images/slider_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
}

.main__slider-button-next::after {
    left: 227px;
}

.main__slider-button-prev::after {
    transform: rotate(180deg);
    right: 212px;
}