.content {
    width: 100%;
}

.container__main {
    width: 1442px;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 177px;
    background: radial-gradient(72.58% 488.59% at 73.05% 68.11%, #7ad0d9 0%, #1eacbb 100%);
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
}

.main__box-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main__box-left {
    max-width: 814px;
    color: #fff;
    letter-spacing: 0.6px;
    padding-left: 115px;
    width: 100%;
}

.page__title {
    font-size: 54px;
    line-height: 66px;
    margin-bottom: 38px;
}

.page__text {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 47px;
}

.btn-order {
    margin-bottom: 65px;
    display: inline-block;
}

.main__benefits {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    max-height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 67px;
    letter-spacing: 0.04em;
}

.benefits__item:last-child {
    margin-right: 0;
}

.benefits__img {
    margin-right: 24px;
    object-fit: fill;
}

.benefits__text {
    display: inline-block;
}

.main__slider-img {
    padding: 0 100px 70px 100px;
}

.main__box-right {
    margin-top: -69px;
}











/* 


.main__slider{
	display: none;
} */