*,
*::after,
*::before {
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

body {
	width: 100%;
	position: relative;
	font-family: "Proxima Nova Regular";
	font-size: 16px;
	color: #5f7d95;
}

section {
	margin-bottom: 100px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.btn {
	background: linear-gradient(180deg, #ffc343 0%, #ffa554 100%);
	box-shadow: 0px 10px 60px rgba(255, 165, 84, 0.5);
	border-radius: 30px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.04em;
	font-family: "Proxima Nova Semibold";
	padding: 18px 65px;
	transition: all .3s;
}

.btn:hover {
	background: linear-gradient(180deg, #ffd274 0%, #ffa554 100%);
	box-shadow: 0px 10px 60px rgba(255, 165, 84, 0.5);
	border-radius: 30px;
}
.btn:active {
	box-shadow: none;
}
.btn:focus {
	box-shadow: none;
	border: none;
	outline: none;
}

.section__title {
	text-align: center;
	font-size: 46px;
	line-height: 56px;
	color: #374957;
	font-family: "Proxima Nova Semibold";
	margin-bottom: 68px;
}
