@media (max-width: 1735px) {
	.reviews__wrapper .swiper-slide-next {
		margin-top: 0;
	}
}

@media (max-width: 1460px) {
	.main__slider {
		top: 0;
		left: -100px;
		width: 380px;
		height: 380px;
	}
	.main__slider-img {
		background-color: transparent;
		padding: 1px 66px 45px 71px;
	}
}
@media (max-width: 1450px) {
	.reviews__wrapper .swiper {
		min-height: 219px;
	}
}

@media (max-width: 1200px) {
	.menu__item:not(:last-child) {
		margin-right: 20px;
	}
	.advantages__item {
		max-width: 100%;
		flex: 0 0 24%;
	}

	.cards::after {
		top: 700px;
		left: -15%;
	}

	.cards::before {
		top: 700px;
		right: -74%;
	}
}

@media (max-width: 1105px) {
	.menu__list {
		display: none;
	}
	.header__mobile-menu {
		display: block;
	}
}

@media (max-width: 1060px) {
	.how_to_order-item:not(:last-child):after {
		left: 190px;
	}
}
@media (max-width: 1030px) {
	.why_choose_us-content {
		display: flex;
		flex-wrap: wrap;
	}

	.why_choose_us-center {
		margin: 0 auto;
		order: -1;
		width: 100%;
		align-self: center;
	}
	.why_choose_us-wrapper-right,
	.why_choose_us-wrapper-left {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.why_choose_us-item {
		max-width: 350px;
		margin-bottom: 0;
	}
	.why_choose_us-item:nth-child(odd) {
		margin-right: 30px;
	}

	.why_choose_us-item-description {
		max-width: 100%;
	}
}
@media (max-width: 960px) {
	.contacts-wrapper {
		justify-content: center;
	}
	.contacts__item {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		/* min-width: 136px; */
	}
	.contacts__item {
		margin: 0 15px;
	}
	.contacts__img {
		margin-right: 0;
		margin-bottom: 18px;
	}
}

@media (max-width: 900px) {
	.page__title {
		font-size: 48px;
		line-height: 58px;
	}
	.page__text {
		font-size: 20px;
		line-height: 24px;
	}
}

@media (max-width: 870px) {
	.main__info {
		max-width: 299px;
	}

	.how_to_order-wrapper {
		flex-wrap: wrap;
	}
	.how_to_order-item:nth-child(1),
	.how_to_order-item:nth-child(2),
	.how_to_order-item:nth-child(4) {
		order: -1;
	}

	.how_to_order-item:not(:last-child):after {
		left: 240px;
		top: 50px;
	}

	.how_to_order-item:nth-child(2) {
		margin-bottom: 95px;
	}
	.how_to_order-item:nth-child(2)::after {
		left: 112px;
		top: 215px;
		transform: rotate(90deg);
	}
	.how_to_order-item:nth-child(3)::after {
		left: -30px;
		top: 45px;
		transform: rotate(180deg);
	}
}

@media (max-width: 750px) {
	.main__info {
		text-align: center;
	}

	.main__box-wrapper {
		flex-direction: column;
	}
	.main__box-right {
		max-width: 100%;
	}

	.main__benefits {
		justify-content: center;
	}
	.benefits__item {
		width: 160px;
	}
	.main__box-left,
	.main__info {
		max-width: 100%;
	}
}
@media (max-width: 770px) {
	.contacts-wrapper {
		flex-wrap: wrap;
	}
	.contacts__item {
		width: 45%;
		margin-bottom: 36px;
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 720px) {
	.main__benefits {
		display: none;
	}
	.main {
		min-height: 100%;
	}
	.logo {
		max-width: 89px;
	}
}

@media (max-width: 680px) {
	.advantages__item {
		flex: 0 0 50%;
	}
	.advantages__img {
		margin-left: auto;
		margin-right: auto;
	}

	.advantages__title {
		margin: 0 auto;
		text-align: center;
	}
}

@media (max-width: 640px) {
	.header-wrapper {
		justify-content: center;
	}
	.logo {
		margin: 0;
	}
	.header__mobile-contact {
		display: block;
		margin: 0 60px;
		text-align: center;
	}
	.header__contact {
		display: none;
	}
}

@media (max-width: 600px) {
	.main__box-wrapper {
		flex-direction: column;
	}
	.main__box-left {
		max-width: 100%;
	}
	.main__info {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	.header-wrapper {
		justify-content: space-between;
	}
	.header__mobile-contact {
		margin-right: 20px;
	}
}

@media (max-width: 430px) {
	.page__title {
		font-size: 32px;
		line-height: 39px;
	}
	.page__text {
		font-size: 18px;
		line-height: 22px;
	}
}
