/* .main__slider {
    width: 590px;
    height: 590px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.main__slider {
    position: relative;
}

.main__slider::after,
.main__slider::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main__slider::before {
    background-image: url('../images/Ellipse-2.svg');
    z-index: 1;
}

.main__slider::after {
    background-image: url('../images/Ellipse-3.svg');
} */