.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 23px;
    min-height: 40px;
}

.social-text {
    font-size: 14px;
    line-height: 17px;
    font-family: "Proxima Nova Semibold";
    color: #000;
    margin-right: 28px;
}

.social-icon+.social-icon {
    margin-left: 20px;
}